[submodule "minimap2"]
	path = minimap2
	url = https://github.com/lh3/minimap2
[submodule "miniasm"]
	path = miniasm
	url = https://github.com/lh3/miniasm
[submodule "samtools"]
	path = samtools
	url = https://github.com/samtools/samtools
[submodule "htslib"]
	path = htslib
	url = https://github.com/samtools/htslib
[submodule "src/BOA"]
	path = src/BOA
	url = https://github.com/Malfoy/BOA
