[submodule "minimap2"]
	path = minimap2
	url = https://github.com/lh3/minimap2
[submodule "miniasm"]
	path = miniasm
	url = https://github.com/lh3/miniasm
[submodule "bwa"]
	path = bwa
	url = https://github.com/lh3/bwa
